{% extends "skeleton.html" %}
{% block content %}

<style type="text/css">

  * {
   margin: 0;
   padding: 0;
  }

  .imgbox {
   display: grid;
   height: 100%;
  }

  .center-fit {
   max-width: 100%;
   max-height: 100vh;
   margin: auto;
  }

  #balance {
    font-size: 25px
  }

.fit {
	height:700px;
    width:100%;
    overflow: hidden;
    background:url(/static/images/vending-machine.jpg) no-repeat center center
}

</style>

 <div class="row">
  <div class="col-sm-2"> </div>
  <div class="col-sm-4">
    <img class="center-fit" src='/static/images/vending-machine.jpg'>
  </div>
  <div class="col-sm-2">
    <div class="row justify-content-md-center" style="padding-top: 25%">
      <h2>Balance</h2>
    </div>
    <div class="row justify-content-md-center" align="center"  class="center-block" >
      <span id="balance">--</span>
    </div>
    <div class="row justify-content-md-center">
      <button type="button" class="btn btn-primary buy" data-p="10">Buy 0.10€</button>
    </div>    
    <div class="row justify-content-md-center">
      <button type="button" class="btn btn-primary buy" data-p="20">Buy 0.20€</button>
    </div>
    <div class="row justify-content-md-center">
      <button type="button" class="btn btn-primary buy" data-p="50">Buy 0.50€</button>
    </div>
    <div class="row justify-content-md-center">
      <button type="button" class="btn btn-success buy" data-p="500">Buy 5.00€</button>
    </div>
    <div class="row justify-content-md-center">
      <button id="reset" type="button" class="btn btn-danger">RESET CARD</button>
    </div>
  </div>
  <div class="col-sm-4"> </div>
</div> 



<script type="text/javascript">
$( document ).ready(function() {
	var socket = io();

	socket.on('rfid', function(data){
		$("#balance").text(data)
	});

	socket.on('rfid.off', function(data){
		$("#balance").text("--")
	});

  $('.buy').click(function(){
      $.post("/buy?p="+$(this).data("p"), function(data){
        if (data.res == 0) alert("ERROR: " + data.error)
      })
  });

  $('#reset').click(function(){
      $.post("/reset", function(data){
        alert("RESET DONE!")
      })
  });

});
</script>

{% endblock %}