<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/static/js/notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <title>ECorp - Vending Machine</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      
    input {
      margin: 10px;
    }

    button {
      margin: 10px; 
    }

    </style>

  </head>

  <body>
    <main role="main">

      <div class="containerXXX" style="">
      {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>
